.align-items-center{
    padding: 1em 4em;
}

.place-inline{
    display: inline;
}

.sort-by-date{
    margin:0 4em;
    margin-bottom: 2em;
}

.add-image-btn{
    margin: 0 4em;
    height: 2em;
}

.flex-center{
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.align-icon-right{
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 6em;
}

.align-icons-text{
    display:flex;
    
}